<section class="register-section">

  <form #registerForm="ngForm" class="register-form" action="#" method="post" (ngSubmit)="postRegister(registerForm)">

    <article class="register-form-name" [class.error]="isNameIncorrect || name.touched && name.value.length == 0">

      <label class="form-name-label" for="name">Name</label>
      <input #name="ngModel" ngModel class="form-name-input" type="text" name="name" id="name" required>

    </article>

    <article class="register-form-sectors" [class.error]="isSectorsIncorrect">

      <label class="form-sectors-label" for="sector">Sectors</label>

      <input #sector="ngModel" ngModel="{{selectedUnderSectorThree?.name}}" class="form-sectors-input" type="text" name="sector" id="sector" disabled>

    </article>

    <article class="register-form-aggree">

      <input #isAgree="ngModel" ngModel class="form-aggree-checkbox" type="checkbox" name="isAgree" id="agree">

      <label class="form-aggree-label" for="agree">Agree to terms</label>

    </article>

<!--    <article class="register-form-back" *ngIf="isPossibleBack">-->
<!--      <a href="#" (click)="back();preventDefault($event)"><i class="fa fa-angle-left"></i> Back</a>-->
<!--    </article>-->

<!--    <article class="register-form-selector" [class.error]="isSectorsIncorrect">-->
<!--      &lt;!&ndash; HERE IS THE SELECTOR WINDOW &ndash;&gt;-->
<!--      <ng-container *ngIf="isSectorWindow">-->

<!--        <ng-container *ngFor="let sector of sectors">-->
<!--          <a href="#" (click)="populateUnderSectorOne(sector.id);preventDefault($event)">{{sector.name}}</a>-->
<!--        </ng-container>-->

<!--      </ng-container>-->

<!--      <ng-container *ngIf="isSectorOneWindow">-->

<!--        <ng-container *ngTemplateOutlet="this.underSectorOne == undefined ? noItem : item"></ng-container>-->

<!--        <ng-template #item>-->
<!--        <ng-container *ngFor="let sectorOne of underSectorOne">-->
<!--          <a href="#" (click)="populateUnderSectorTwo(sectorOne.id);preventDefault($event)">{{sectorOne.name}}</a>-->
<!--        </ng-container>-->
<!--        </ng-template>-->

<!--      </ng-container>-->

<!--      <ng-container *ngIf="isSectorTwoWindow">-->

<!--        <ng-container *ngTemplateOutlet="this.underSectorTwo == undefined ? noItem : item"></ng-container>-->

<!--        <ng-template #item>-->

<!--        <ng-container *ngFor="let sectorTwo of underSectorTwo">-->
<!--          <a href="#" (click)="populateUnderSectorThree(sectorTwo.id);preventDefault($event)">{{sectorTwo.name}}</a>-->
<!--        </ng-container>-->
<!--          </ng-template>-->

<!--      </ng-container>-->

<!--      <ng-container *ngIf="isSectorThreeWindow">-->

<!--        <ng-container *ngTemplateOutlet="this.underSectorThree == undefined? noItem : item"></ng-container>-->

<!--        <ng-template #item >-->

<!--        <ng-container *ngFor="let sectorThree of underSectorThree">-->
<!--          <a href="#" (click)="preventDefault($event);selectedSector(sectorThree)">{{sectorThree.name}}</a>-->
<!--        </ng-container>-->
<!--        </ng-template>-->

<!--      </ng-container>-->



<!--      <ng-template #noItem>-->
<!--        <p class="no-item">Please get back , we will populate these soon as soon possible</p>-->
<!--      </ng-template>-->

<!--    </article>-->
    <app-selector (selectedUnderSectorThreeEv)="selectedUnderSectorThree=$event" [isSectorsIncorrect]="isSectorsIncorrect"></app-selector>

      <input class="register-form-submit" type="submit" value="Save" >

  </form>

</section>
